@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gupter:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    font-weight: 400;
}

:root{
    --azul-escuro: #003049ff;
    --vermelho: #d62828ff;
    --laranja: #f77f00ff;
    --amarelo: #fcbf49ff;
    --amarelo-claro: #eae2b7ff;
    --fonte-titulo:"DM Sans", sans-serif;
    --fonte-texto:  "Gupter", serif;

}